/* mobile */
@media only screen and (max-width: 42.1875em) {
    nav {
        flex-direction: column;
        padding: 10px;
        border:2px solid black
    }
    nav header {
        margin-bottom: 5px;
    }
    nav form button {
        margin-left:unset;
    }
    table {
        transform: scale(1);
    }
    .bodylist ul {
        width: 100%;
    }
    .bodylist ul li {
        flex-direction: column;
    }
    .bodylist ul li .cls:nth-child(1) {
        width: 100%;
    }
    #cls2 {
        width: unset;
        border-top-width: 3px;
        border-top-color: #647D91;
        border-top-style:outset;
        border-radius: 20px;
        
    }
}