*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color: #F2F2F2;
    min-height: 100vh;
}
#loader {
    left: 0;
    top: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
    z-index: -1;
    display: flex;
    align-items: center;
}
nav{
    background-color: #7FB3D5;
    display: flex;
    width: 100%;
    align-items: center;
    height: 60px;
    top: 0px;
    position: fixed;
    border: none;
    padding-left: 10px;
    z-index: 10;
}
nav:hover {
    background-color: rgb(33, 33, 33);
}
nav:hover header h2{
    box-shadow: 0px 0px 30px 10px blue;
    background-color: white;
    animation: textlogo 2s infinite alternate;
}
nav header h2 {
    color: #A8DADC;
    font-weight: 900;
    box-shadow: 0px 0px 70px 10px blue;
    border: none;
    background-color: black;
    pointer-events: none;
    width: 160px;
    animation: textlogo 2s infinite alternate;
    border-radius: 5px;
}
@keyframes textlogo {
    to {
        background-color: #647D91;
        box-shadow: 0px 0px 20px 5px #7FB3D5;
    }
}
nav form {
    width: 100%;
    height: 40px;
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
}
nav form button {
    list-style: none;
    height: 35px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border: 2px solid #647D91;
    border-radius: 10px;
    font-weight: 800;
    background-color: #F1E7E0;
}
nav form button:hover {
    box-shadow: 0 0 60px #8F8F8F;
    border: 2px solid black;
}
nav form input {
    height: 30px;
    width: 70%;
    position: relative;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    border: 2px solid #647D91;
}
ul {
    list-style: none;
}
.bodylist {
    margin:70px 10px 10px;
    /* list-style:none; */
    width: 100%;
    left: 15%;
    border-radius: 20px;
    justify-content: center;
    display: flex;
}
.bodylist ul {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
}
.bodylist ul li {
    box-shadow: 0 10px 10px gray;
    /* width: 100%; */
    width:auto;
    padding: 5px;
    display: flex;
    border:2px solid #A8DADC   ;
    border-radius: 10px;
    justify-content:space-around;
    background-color: #7FB3D5;
    margin-top: 10px;
}
.bodylist ul li h2 {
    margin-left: 10px;
    color: white;
    text-shadow: 2px 0 black;
    text-align: center;
}
.bodylist ul li .cls {
    width: 40%;
}
.bodylist ul li .cls:nth-child(1) {
    width: 40%;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items:center;
}
.bodylist ul li .cls .control, .message {
    width: 50%;
    border-left-width: 3px;
    border-left-color: #647D91;
    border-left-style: dashed;
    /* background-color:#A8DADC; */
    border-radius: 10px;
    margin: 0px 5px 0px 5px;
    padding: 4px 0px 0px 10px; 
}
.message {
    justify-content: space-evenly;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
}
  .message p {
    margin: 5px;
    color: black;
    font-size: 22;
    font-weight:600;
    font-family:Arial, Helvetica, sans-serif;
  }
#cls2 {
    display: flex;
    flex-direction: row;
    width: 57%;
}
table {
    transform: scale(1);
}
#chart_div {
   width: 400px; 
   height: 120px;
   display: flex;
   justify-content: center;
   width: 100%;
}
.switchContainer {
    height: 25px;
    width: 60px;
    background-color: black;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 3px;
    margin-top: 10px;
    transition: .5s;
    cursor: pointer;
}
.switchContainer:hover {
    border: 2px solid red;
}
.switchContainer .switchValue {
    height: 25px;
    width: 25px;
    background-color: #A8DADC;
    border-radius: 50% 0 0 50%;
    box-shadow: 0 0 10px #A8DADC;
    transition: margin .5s;
    animation: switch-b ease 0.5s;
}
@keyframes switch-b{
    0% {
        transform: rotate(0deg);
    }
    50% {
        border-radius: 50%;
        transform: rotate(-90deg);

    }
    100% {
        border-radius: 40%;
        transform: rotate(-180deg);
    }
}
.switchContainer.on {
    background-color: #F2F2F2;
    border: 2px solid orange;
}
.switchContainer.on:hover {
    border: 2px solid black;
}
.switchContainer.on .switchValue {
    background-color: #647D91;
    margin-left: 35px;
    box-shadow: 0 0 20px black;
    border-radius: 0 50% 50% 0;
    animation: switch-r ease 0.5s;
}
@keyframes switch-r {
    0% {
        transform: rotate(0deg);
    }
    50% {
        border-radius: 50%;
        transform: rotate(90deg);

    }
    100% {
        border-radius: 40%;
        transform: rotate(180deg);
    }
}

